body{
 background-image:url('../images/capstonepicmaybe.png');
     background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items:center;
    /* text-align:center; */
    padding:0 20px;
  }
table, th, td {
  border: 1px solid black;
  margin: 4px;
}

 /* h1{
    margin: 0;
    padding: 0 0 20px;
    /* text-align: center; 
    font-size: 22px;
    color: #fbc225;
    background-color: rgba(68, 68, 68, 0.2);
    
}

p{
    color: #fbc225;
    font-size: 20px;
        background-color: rgba(68, 68, 68, 0.2);
    
  }

#but{
    font-size:14px;
    text-decoration:none;
    color:#fbc225;
    border:#ffffff 1px solid;
    padding:5px 10px;
    border-radius:5px;
    margin-top:5px;
    background-color: rgb(2, 100, 124);
  }
  
  a{
    color: white;
}
  
  ul {
  list-style: none; 
}

ul li::before {
  content: "\2022"; 
  color: #fbc225; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}*/