<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Surpress Music - Browse By Genre</title>
</head>
<body>
   <h1>HELLO</h1>
   <ul>
      <li th:each="song: ${songs}">
         <p>
         <strong><span th:text="${song.songTitle}"></span></strong><br />
         <em><span th:text="${song.artist}"></span></em><br />
         <span th:text="${song.album.title}"></span>
         </p>
         <p>
         Available in <span th:text="${song.format}"></span><br /> for
         $<span th:text="${song.price}"></span>
         </p>
      </li>
   </ul>
</body>
</html>