<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registerstyle.css">
    <title>Add Genre</title>
</head>
<body>
    <header id="reg">
    <form action="/genre/add" method="POST">
        <div class="container">
        <div class="container" id="title">
          <h1>Add Genre</h1>
          <p>Please fill in this form to add a new genre.</p>
          
          </div>
          <div class="container" id="forms">
          
          <label for="genre"><b>Genre</b></label>
          <input type="text" placeholder="Enter Genre Name" id="genretype" name="genretype"required>
              
          <hr>
      
          <button id="submit" type="submit" class="registerbtn">Add Genre</button>
          <hr>
          <p><a href="/admin">Return to admin menu</a></p>
        </div>
        </div>
      </form>
      </header>
</body>
</html>